@font-face {
  font-family: 'Unverschaemt Sans';
  src: url(../res/font/UnverschaemtSans.ttf) format('truetype');
  font-weight: 400;
  font-style: normal
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  width: 100%;
}

body {
  color: #6f6f6f;
  font-size: 20px;
  padding: 4%;
  max-width: 1000px;
  font-family: Lato;
  font-weight: 300
}

.unverschaemt-sans {
  font-family: "Unverschaemt Sans"
}

a {
  text-decoration: none;
  color: #9a9a9a;
  border-bottom: 1px solid #9a9a9a
}

a:hover {
  color: #52525a;
  border-bottom-width: 2px
}

a.unverschaemt-sans {
  border: none
}

b {
  font-weight: 400
}

section {
  line-height: 28px
}

h1 {
  color: #5d5d5d;
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 300
}

h3 {
  color: #5d5d5d;
  font-size: 27px;
  margin-bottom: 5px;
  font-weight: 300
}

footer img {
  border-radius: 50%
}

footer a {
  border: none
}

footer img {
  width: 42px;
  height: 42px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

footer img:hover {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

footer a,
footer img,
h1 {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

::-webkit-scrollbar {
  display: none
}

@media (max-device-width:600px), (max-width:600px) {
  footer {
    width: 220px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
  }

  footer img {
    width: 50px;
    height: 50px
  }

  body {
    padding: 5%
  }

  h1 {
    font-size: 40px;
    text-align: center
  }
}

@media (min-device-width:1400px), (min-width:1400px) {
  body {
    padding: 8%
  }
}
