* {
    margin: 0;
    padding: 0
}

body {
    color: #6f6f6f;
    width: 100%;
    height: 100%;
    font-size: 24px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 3% 20% 5%
}

a {
    text-decoration: none;
    color: #9a9a9a;
    border-bottom: 1px solid #9a9a9a
}

a:hover {
    color: #52525a;
    border-width: 2px
}

a.unverschaemt-sans {
    border: none
}

b {
    font-family: Lato-Regular;
    font-weight: 500
}

section {
    line-height: 27px;
    font-family: Lato-Light
}

.unverschaemt-sans {
    font-family: "Unverschaemt Sans"
}

h1 {
    color: #5d5d5d;
    font-size: 62px;
    margin-bottom: 25px;
    text-align: center;
    display: block;
    font-weight: 300;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#portrait {
    width: 160px;
    height: 160px;
    border: 7px solid #fff;
    box-shadow: 0 0 2px #000;
    display: block;
    margin: 0 auto 20px
}

#portrait,
#socials img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -khtml-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

#socials {
    padding-top: 5px;
    text-align: center
}

#socials a {
    border: none
}

#socials p {
    display: none;
    font-family: Lato-Light;
    width: 200px;
    font-size: 18px;
    padding-top: 3px
}

#socials img {
    width: 45px;
    height: 45px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -khtml-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

#socials img:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

::-webkit-scrollbar {
    display: none
}

@media(max-device-width:700px),
(max-width:700px) {
    #socials {
        width: 220px;
        margin: auto
    }
    #socials img {
        width: 50px;
        height: 50px
    }
    body {
        padding: 8% 10%
    }
    h1 {
        font-size: 50px
    }
    #socials p {
        display: none!important
    }
}

@media(min-device-width:1400px),
(min-width:1400px) {
    body {
        padding: 8% 25%
    }
}