@font-face {
    font-family: 'latolight';
    src: url('lato_light_1.0-webfont.eot');
    src: url('lato_light_1.0-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato_light_1.0-webfont.woff') format('woff'),
         url('lato_light_1.0-webfont.ttf') format('truetype'),
         url('lato_light_1.0-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('lato_regular_1.0-webfont.eot');
    src: url('lato_regular_1.0-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato_regular_1.0-webfont.woff') format('woff'),
         url('lato_regular_1.0-webfont.ttf') format('truetype'),
         url('lato_regular_1.0-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
