@font-face{

font-family:'Lato-Light';
 src:url('lato_light_1.0-webfont.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
@font-face{font-family:'Lato-Regular';

src:url('lato_regular_1.0-webfont.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}
@font-face{

font-family:'Unverschaemt Sans';
 src:url('UnverschaemtSans.ttf') format('truetype');
 font-weight:normal;
 font-style:normal
}